Package: offline-audience-switcher
Version: 0.0.1
Maintainer: funnel
Description: Hold channel down button for 7 seconds to switch from 50Mbit mode to 25Mbit mode even without an Airunit connected. Makes audience mode accessible.
Architecture: pigeon-glasses
